section{
    max-width: 950px;
    margin: auto;
    margin-bottom: 40px;
}

#explore p{
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
}

#first-option #op1{
    font-size: 15px;
    border: 1px solid rgb(57, 61, 61);
    border-radius: 10px;
    flood-color: #1c1c1c;
    padding: 17px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

#second-option #op2{
    font-size: 15px;
    border: 1px solid rgb(46,53,53);
    border-radius: 5px;
    flood-color: #1c1c1c;
    padding: 17px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

#third-option #op3{
    font-size: 15px;
    border: 1px solid rgb(46,53,53);
    border-radius: 5px;
    flood-color: #1c1c1c;
    padding: 17px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

#four-option #op4 {
    font-size: 15px;
    border: 1px solid rgb(92, 94, 94);
    border-radius: 5px;
    flood-color: #1c1c1c;
    padding: 17px 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}