*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway",serif;
}

#main-body{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto 60px;
    margin-top: 35px;
    /* border: 2px solid red; */
}

#main #tagline{
    font-size: 50px;
}

#service{
    height: 240px;
    width: 100%;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

#service #options{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 12px;
}

#service #options:hover{
    transform: scale(1.05);
    transition: ease-in-out;
    transition-duration: 0.3s;
}



#service #options #image {
   height: 100%;
   width: 100%;
   border-radius: 12px;
}

#options #image img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: bottom center;
    
}
#info{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    border: 2px solid #ccc;
    padding: 10px 20px 16px 20px;
    border-radius: 0 0 12px 12px;
    line-height: 30px;
}

#info h2{
    color: #363363;
    font-size: 20px;
    font-weight: 500;
}

#info p{
    color: #4f4f4f;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
